<div *ngIf="showHeader" style="margin-bottom: 84px;">
    <header class="header-container glass-effect">
        <div class="logo-section align-items-center flex gap-3">
            <img routerLink="/home" src="assets/m.png" alt="Logo" class="logo border-circle" />
            <span class="brand-name">{{username}}</span>
        </div>

        <nav class="nav-links">
            <a routerLink="/home">Home</a>
            <a routerLink="/posts">Posts</a>
            <a routerLink="/imgs">Images</a>
            <a style="text-decoration: none; cursor: pointer;" (click)="logout()">Logout</a>
        </nav>

        <!-- Hamburger icon for mobile -->
        <div class="hamburger" (click)="toggleMenu()">
            <span [class.rotate-top]="isMenuOpen"></span>
            <span [class.fade-out]="isMenuOpen"></span>
            <span [class.rotate-bottom]="isMenuOpen"></span>
        </div>
    </header>

    <!-- Mobile Menu -->
    <nav class="mobile-menu mb-8" [ngClass]="{ 'active': isMenuOpen }">
        <div class="mobile-menu-header">
            <span class="brand-name">YourBrand</span>
            <div class="close-icon" (click)="toggleMenu()">×</div>
        </div>
        <a routerLink="/home" class="item1" href="#" (click)="toggleMenu()">Home</a>
        <a routerLink="/posts" class="item2" href="#" (click)="toggleMenu()">Posts</a>
        <a class="item3" href="#" (click)="toggleMenu()">Services</a>
        <a class="item4" href="#" (click)="logout()">Logout</a>
    </nav>
</div>




<p-toast />
<p-confirmDialog />

<router-outlet></router-outlet>