<p-menubar [model]="items" *ngIf="showHeader">
    <ng-template pTemplate="start">
        <img src="/assets/m.png" height="40" style="border-radius: 100px;" class="mr-2 cursor-pointer"
            [routerLink]="['/home']" />
    </ng-template>
    <ng-template pTemplate="end">
        <div class="headerItem flex align-items-center">
        <h2 class="m-0 mr-4">{{username}}</h2>
        <input type="text" pInputText placeholder="Search" class="w-full" />
    </div>
    <!-- <input type="text" pInputText placeholder="Search" class="w-full" /> -->
    </ng-template>
</p-menubar>


<p-toast />
<p-confirmDialog />

<router-outlet></router-outlet>