<p-toast />
<!----Loadin---->
<div *ngIf="isLoading" class="overlay flex justify-content-center align-items-center">
    <div class=" flex justify-content-center align-items-center h-screen absolute">
        <div class="loader"></div>
    </div>
</div>
<!-------------->


<div class="stuff fade-in flex justify-content-center align-items-center bg-gray-950">
    <div class="glass-card p-6 border-round-lg w-full m-2 md:w-27rem" [ngClass]="{'expanded': isSignUp}">
        <div class="titleText text-center mb-6">
            <h2 class="text-7xl font-bold mb-1 title">Rizzar's Stuff</h2>
            <div class="titleCaptions">
                <p class="text-400">Website is still under construction</p>
                <p class="text-300">This website is owned by: <span class="Nizar">Nizar</span></p>
            </div>
            <div class="socialMedia flex justify-content-center align-items-center">
                <a href="https://www.instagram.com/nizar_masadeh">
                    <button pButton class="p-button-raised p-button-social">
                        <i class="pi pi-instagram"></i>
                    </button>
                </a>
                <a href="https://www.github.com/NizarMasadeh">
                    <button pButton class="p-button-raised p-button-social">
                        <i class="pi pi-github"></i>
                    </button>
                </a>
                <a href="https://www.facebook.com/nizar.masadeh.7">
                    <button pButton class="p-button-raised p-button-social">
                        <i class="pi pi-facebook"></i>
                    </button>
                </a>
            </div>
        </div>

        <!-- Login Form -->
        <form [hidden]="isSignUp" [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <div class="p-inputgroup flex justify-content-center align-items-center mb-4">
                <span class="p-input-icon-left">
                    <i class="pi pi-user"></i>
                    <input pInputText placeholder="Email" type="email" formControlName="email"
                        class="w-full glass-input" />
                </span>
            </div>
            <div class="p-inputgroup flex justify-content-center align-items-center mb-4">
                <span class="p-input-icon-left">
                    <i class="pi pi-key"></i>
                    <input pInputText placeholder="Password" type="password" formControlName="password"
                        class="w-full glass-input" />
                </span>
            </div>
            <div class="loginBtn flex justify-content-center align-items-center pt-5">
                <button pButton type="submit" label="Login"
                    class="w-19rem p-button-raised p-button-rounded p-button-glass"
                    [disabled]="!loginForm.valid"></button>
            </div>
            <p class="text-center mt-4">Don't have an account? <a class="Nizar cursor-pointer"
                    (click)="toggleForm()">Sign Up</a></p>
        </form>

        <!-- Sign-Up Form -->
        <form *ngIf="isSignUp" [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
            <div class="p-inputgroup flex justify-content-center align-items-center mb-4">
                <span class="p-input-icon-left">
                    <i class="pi pi-user"></i>
                    <input pInputText placeholder="Username" type="text" formControlName="username"
                        class="w-full glass-input" />
                </span>
            </div>
            <div class="p-inputgroup flex justify-content-center align-items-center mb-4">
                <span class="p-input-icon-left">
                    <i class="pi pi-envelope"></i>
                    <input pInputText placeholder="Email" type="email" formControlName="email"
                        class="w-full glass-input" />
                </span>
            </div>
            <div class="p-inputgroup flex justify-content-center align-items-center mb-4">
                <span class="p-input-icon-left">
                    <i class="pi pi-key"></i>
                    <input pInputText placeholder="Password" type="password" formControlName="password"
                        class="w-full glass-input" />
                </span>
            </div>
            <div class="loginBtn flex justify-content-center align-items-center pt-5">
                <button pButton type="submit" label="Sign Up"
                    class="w-19rem p-button-raised p-button-rounded p-button-glass"
                    [disabled]="!signUpForm.valid"></button>
            </div>
            <p class="text-center mt-4">Already have an account? <a class="Nizar cursor-pointer"
                    (click)="toggleForm()">Login</a></p>
        </form>
    </div>
</div>