
<p-toast />
<div class="flex justify-content-center align-items-center h-screen bg-gray-950">
    <div class="glass-card p-6 shadow-6 border-round-lg w-full md:w-30rem">
      <div class="text-center mb-6">
        <h2 class="text-5xl font-bold mb-1 title">Rizzar's Stuff</h2>
        <p class="text-300">Website is still under construction</p>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="p-inputgroup mb-4">
          <span class="p-inputgroup-addon">
            <i class="pi pi-user"></i>
          </span>
          <input pInputText placeholder="Email" formControlName="email" class="w-full glass-input" />
        </div>
        <div class="p-inputgroup mb-4">
          <span class="p-inputgroup-addon">
            <i class="pi pi-lock"></i>
          </span>
          <input pInputText type="password" formControlName="password" placeholder="Password" class="w-full glass-input" />
        </div>
  
        <div class="loginBtn pt-5">
          <button pButton type="submit" label="Login" class="w-full p-button-raised p-button-rounded p-button-glass"></button>
      </div>
    </form>
  
    </div>
  </div>
  