<div class="container flex flex-wrap gap-6 pt-10rem justify-content-center">
    <div class="card" *ngFor="let user of users; let i = index">
        <div class="profileImage flex justify-content-center align-items-center">
            <img [src]="user.profileImg">
        </div>
        <div class="textContainer flex justify-content-around align-items-center">
            <p class="name">{{user.username}}</p>

            <button *ngIf="!user.isReq" pButton icon="pi pi-user-plus" style="height: 30px; width: 30px !important;"
                (click)="sendReq(i)"></button>
            <button *ngIf="user.isReq == true" [disabled]="true" pButton icon="pi pi-check"
                style="height: 30px; width: 30px !important;" [disabled]=""></button>

        </div>
    </div>

</div>