<p-toast />
<!----Loadin---->
<div *ngIf="isLoading" class="overlay flex justify-content-center align-items-center">
    <div class=" flex justify-content-center align-items-center h-screen absolute">
        <div class="loader"></div>
    </div>
</div>
<!-------------->
<div class="container flex flex-wrap gap-6 pt-10rem justify-content-center">
    <div class="card" *ngFor="let user of users; let i = index"[ngClass]="{'cardAnimation': !isLoading}"
    [ngStyle]="{'animation-delay': (i * 0.1) + 's'}">
        <div class="profileImage flex justify-content-center align-items-center">
            <p-skeleton *ngIf="isImgLoading" styleClass="border-circle w-11rem h-11rem "></p-skeleton>
            <img  *ngIf="user.profileImg"[src]="user.profileImg" [hidden]="isImgLoading" [ngClass]="isImgLoading ? 'hidden' : ''" (load)="imgLoaded()">
            <img *ngIf="!user.profileImg" (load)="imgLoaded()" src="assets/image1.png" alt="">

        </div>
        <div class="textContainer flex justify-content-around align-items-center">
            <p class="name">{{user.username}}</p>

            <button pButton icon="pi pi-user-plus" style="height: 30px; width: 30px !important;"
                (click)="sendReq(i)"></button>
            <!-- <button *ngIf="user.isReq === true" [disabled]="true" pButton icon="pi pi-check"
                style="height: 30px; width: 30px !important;" [disabled]="">Friend request sent</button> -->

        </div>
    </div>

</div>