<p-toast />
<!----Loading---->
<div *ngIf="isLoading" class="skeletonLoading border-round border-1 surface-border p-4 surface-card">
    <ul class="m-0 p-0 list-none">
        <li class="mb-3">
            <div class="flex">
                <p-skeleton shape="circle" size="4rem" styleClass="mr-2" />
                <div style="flex: 1">
                    <p-skeleton width="100%" styleClass="mb-2" />
                    <p-skeleton width="75%" />
                </div>
            </div>
        </li>
        <li class="mb-3">
            <div class="flex">
                <p-skeleton shape="circle" size="4rem" styleClass="mr-2" />
                <div style="flex: 1">
                    <p-skeleton width="100%" styleClass="mb-2" />
                    <p-skeleton width="75%" />
                </div>
            </div>
        </li>
        <li class="mb-3">
            <div class="flex">
                <p-skeleton shape="circle" size="4rem" styleClass="mr-2" />
                <div style="flex: 1">
                    <p-skeleton width="100%" styleClass="mb-2" />
                    <p-skeleton width="75%" />
                </div>
            </div>
        </li>
        <li>
            <div class="flex">
                <p-skeleton shape="circle" size="4rem" styleClass="mr-2" />
                <div style="flex: 1">
                    <p-skeleton width="100%" styleClass="mb-2" />
                    <p-skeleton width="75%" />
                </div>
            </div>
        </li>
    </ul>
</div>

<!-------------->
<div *ngIf="!isLoading" class="container flex flex-wrap gap-6 pt-10rem justify-content-center">
    <div *ngIf="users?.length === 0 || users === undefined" class="defaultMessage">
        You have no friend requests
    </div>
    <div class="card" *ngFor="let user of users; let i = index">
        <div class="profileImage flex justify-content-center align-items-center">
            <img *ngIf="user.profileImg != null || undefined" [src]="user.profileImg" [hidden]="isImgLoading"
                (load)="imgLoaded()">
            <p-skeleton *ngIf="isImgLoading" styleClass="border-circle w-11rem h-11rem "></p-skeleton>

        </div>
        <div class="textContainer grid justify-content-around align-items-center">
            <p class="name flex justify-content-center">{{user.username}}</p>


            <div class="btnContainer flex justify-content-center align-items-center gap-7">
                <p-button icon="pi pi-user-plus" (click)="onAccept(i)"></p-button>
                <p-button icon="pi pi-times" severity="danger" (click)="onReject(i)"></p-button>
            </div>
            <!-- <button *ngIf="user.isReq === true" [disabled]="true" pButton icon="pi pi-check"
                style="height: 30px; width: 30px !important;" [disabled]="">Friend request sent</button> -->

        </div>
    </div>

</div>