@import "primeng/resources/themes/lara-dark-teal/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

@font-face {
    font-family: NZDfont;
    src: url(./assets/fonts/Caveat-VariableFont_wght.ttf);
}

@font-face {
    font-family: NZDfontLA;
    src: url(./assets/fonts/PermanentMarker-Regular.ttf);
}

@font-face {
    font-family: NZDfontCyber;
    src: url(./assets/fonts/Exo-VariableFont_wght.ttf);
}
@font-face {
    font-family: NZDfontCyber2;
    src: url(./assets/fonts/Exo-Italic-VariableFont_wght.ttf);
}



/* FOR LOADIGN */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.spinner{
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: aqua;
    display: grid;
    place-items: center;
    animation: zoomin 1.5s infinite alternate-reverse;
    position: relative;
    z-index: 2;
    transform: translate(-50%, -50%);
}

.inner {
 background-color: #212121;
 width: 80%;
 height: 80%;
 border-radius: 100%;
}

@keyframes zoomin {
 0% {
  transform: scale(1);
  box-shadow: 0 0 100px 20px rgb(16, 71, 71);
 }

 100% {
  transform: scale(1.5);
  box-shadow: 0 0 100px 20px #000;
 }
}

/* fade-in animation */
.fade-in {
    opacity: 0; 
    animation: fadeIn 3s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1; 
    }
}