<p-toast />
<!----Loadin---->
<div *ngIf="isLoading" class="overlay flex justify-content-center align-items-center">
    <div class=" flex justify-content-center align-items-center h-screen absolute">
        <div class="loader"></div>
    </div>
</div>
<!-------------->

<div class="profileCard">
    <div class="profileItems">
        <div class="profilePic">
            <!-- <img src="assets/loginPic.png" alt=""> -->
            <p-skeleton *ngIf="isImgLoading" styleClass="border-circle w-11rem h-11rem mt-5"></p-skeleton>
            <img *ngIf="this.profImg != undefined" [src]="this.profImg" (load)="imgLoaded()">
            <img *ngIf="isPfpExist == false" (load)="imgLoaded()" src="assets/image1.png" alt="">
            <div *ngIf="isPfpExist == false" class="editImg">
                <i class="pi pi-pencil" (click)="onEdit()"></i>
            </div>
            <div *ngIf="isPfpExist == true" class="editImg">
                <i class="pi pi-pencil" (click)="onChangeImage()"></i>
            </div>

        </div>

        <div class="userName">
            <h2>{{this.userName}}</h2>
        </div>

        <div class="userInfo">
            <div class="dateUser">
                <p>Joined at: <br><br> {{this.formattedDateJoined}}</p>
            </div>
            <div class="videos">
                <p>Videos saved: </p>
            </div>
            <div class="imaages">
                <p>Images saved: </p>
            </div>
        </div>

    </div>
</div>

<p-dialog header="Upload profile picture" [modal]="true" [draggable]="false" [(visible)]="visible" [style]="{ width: '50rem', height: '20rem' }"
    [breakpoints]="{ '1000px': '75vw', '400px': '90vw' }">

    <p-fileUpload name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" (onUpload)="onUpload($event)"
        [multiple]="true" accept="image/*">
        <ng-template pTemplate="content">
            <ul *ngIf="uploadedFiles.length">
                <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
            </ul>
        </ng-template>
    </p-fileUpload>



</p-dialog>
<p-dialog header="Change or delete" [modal]="true" [(visible)]="changeImgVisible" [draggable]="false" [style]="{ width: '50rem', height: '20rem' }"
    [breakpoints]="{ '1000px': '75vw', '400px': '90vw' }">


    <div class="btnContainer flex gap-6 justify-content-center align-items-center">
    <button pButton (click)="onEdit()">Change image</button>
    <p-button severity="danger" (onClick)="openDelete()">Delete image</p-button>
</div>

<p-dialog header="Warning" [modal]="true" [(visible)]="deleteWarn" [draggable]="false" [style]="{ width: '50rem', height: '20rem' }"
    [breakpoints]="{ '1000px': '75vw', '400px': '90vw' }">

    <h2>Are you sure you want to delete?</h2>
    <div class="btnContainer flex gap-6 justify-content-center align-items-center">
    <button pButton (click)="removeImage()">Yes</button>
    <p-button severity="danger" (onClick)="deleteWarn = false">No</p-button>
</div>


</p-dialog>