<p-toast />
<!----Loadin---->
<div *ngIf="isLoading" class="overlay flex justify-content-center align-items-center">
    <div class=" flex justify-content-center align-items-center h-screen absolute">
        <div class="loader"></div>
    </div>
</div>
<!-------------->

<div class="profileCard">
    <div class="profileItems">
        <div class="profilePic">
            <!-- <img src="assets/loginPic.png" alt=""> -->
            <img [src]="this.profImg" (load)="imgLoaded()" [hidden]="isImgLoading">
            <p-skeleton *ngIf="isImgLoading" styleClass="border-circle w-11rem h-11rem mt-5"></p-skeleton>
            <div class="editImg">
                <i class="pi pi-pencil" (click)="onEdit()"></i>
            </div>

        </div>

        <div class="userName">
            <h2>{{this.userName}}</h2>
        </div>

        <div class="userInfo">
            <div class="dateUser">
                <p>Joined at: <br><br> {{this.formattedDateJoined}}</p>
            </div>
            <div class="videos">
                <p>Videos saved: </p>
            </div>
            <div class="imaages">
                <p>Images saved: </p>
            </div>
        </div>

    </div>
</div>

<p-dialog header="Upload profile picture" [modal]="true" [(visible)]="visible" [style]="{ width: '50rem' }"
    [breakpoints]="{ '1000px': '75vw', '400px': '90vw' }">

    <p-fileUpload name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" (onUpload)="onUpload($event)"
        [multiple]="true" accept="image/*">
        <ng-template pTemplate="content">
            <ul *ngIf="uploadedFiles.length">
                <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
            </ul>
        </ng-template>
    </p-fileUpload>



</p-dialog>